@import url(../../vendor/h5bp/css/normalize.css);
@import url(../../vendor/h5bp/css/main.css);
/*-- HTML5 Boilerplate. -----------------------------------------------------*/
/*-- Application stylesheets. -----------------------------------------------*/
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
/* line 26, ../sass/screen.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 36, ../sass/screen.scss */
body {
  line-height: 1;
  overflow-x: hidden;
}

/* line 42, ../sass/screen.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 46, ../sass/screen.scss */
nav ul {
  list-style: none;
}

/* line 50, ../sass/screen.scss */
blockquote, q {
  quotes: none;
}

/* line 55, ../sass/screen.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 60, ../sass/screen.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 69, ../sass/screen.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 76, ../sass/screen.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 83, ../sass/screen.scss */
del {
  text-decoration: line-through;
}

/* line 87, ../sass/screen.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 92, ../sass/screen.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 98, ../sass/screen.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 107, ../sass/screen.scss */
input, select {
  vertical-align: middle;
}

/*Navigation styles*/
/* line 113, ../sass/screen.scss */
body {
  background: url(/app/images/purty_wood.png);
}

/* line 117, ../sass/screen.scss */
#primary-navigation {
  position: absolute;
  top: 0;
}

/* line 122, ../sass/screen.scss */
.product-view #primary-navigation {
  margin-top: -8.5em;
}

/* line 125, ../sass/screen.scss */
.category {
  font-size: 36px;
  line-height: 1.16;
}
/* line 128, ../sass/screen.scss */
.category > ul {
  pointer-events: none;
  position: absolute;
  top: -100%;
  opacity: 0;
  z-index: 1;
}
/* line 135, ../sass/screen.scss */
.category a {
  color: inherit;
}

/* line 138, ../sass/screen.scss */
.child-categories {
  display: table;
  position: relative;
  width: 100%;
  min-width: 450px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}
/* line 144, ../sass/screen.scss */
.child-categories li {
  display: table-cell;
  min-height: 150px;
  min-width: 70px;
  text-align: center;
}
/* line 149, ../sass/screen.scss */
.child-categories li:last-child {
  border-right: 0;
}
/* line 152, ../sass/screen.scss */
.child-categories li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  background: black;
}
/* line 159, ../sass/screen.scss */
.child-categories li a:hover {
  background: rgba(255, 255, 255, 0);
  color: #fefefe !important;
}

/* line 167, ../sass/screen.scss */
.active_ > ul {
  display: table;
  position: absolute;
  top: 100%;
  left: 0;
}

/* line 174, ../sass/screen.scss */
.category-name {
  position: relative;
  z-index: 1;
  font-family: Helvetica;
  pointer-events: none;
  margin-left: -11px;
}
/* line 180, ../sass/screen.scss */
.category-name + span {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  position: absolute;
  top: 0;
}

/* line 216, ../sass/screen.scss */
.nav_mens #content-pane {
  margin-top: 100px;
}

/* line 216, ../sass/screen.scss */
.nav_womens #content-pane {
  margin-top: 100px;
}

/* line 216, ../sass/screen.scss */
.nav_tech #content-pane {
  margin-top: 100px;
}

/* line 216, ../sass/screen.scss */
.nav_media #content-pane {
  margin-top: 100px;
}

/* line 216, ../sass/screen.scss */
.nav_home #content-pane {
  margin-top: 100px;
}

/* line 216, ../sass/screen.scss */
.nav_art #content-pane {
  margin-top: 100px;
}

/* line 216, ../sass/screen.scss */
.nav_other #content-pane {
  margin-top: 100px;
}

/* line 222, ../sass/screen.scss */
.nav_mens.nav_clothing #content-pane {
  margin-top: 150px;
}

/* line 222, ../sass/screen.scss */
.nav_mens.nav_shoes #content-pane {
  margin-top: 150px;
}

/* line 222, ../sass/screen.scss */
.nav_mens.nav_accessories #content-pane {
  margin-top: 150px;
}

/* line 228, ../sass/screen.scss */
.nav_womens.nav_clothing #content-pane {
  margin-top: 150px;
}

/* line 228, ../sass/screen.scss */
.nav_womens.nav_shoes #content-pane {
  margin-top: 150px;
}

/* line 228, ../sass/screen.scss */
.nav_womens.nav_accessories #content-pane {
  margin-top: 150px;
}

/* line 228, ../sass/screen.scss */
.nav_womens.nav_beauty #content-pane {
  margin-top: 150px;
}

/* line 234, ../sass/screen.scss */
.nav_mens.nav_clothing.nav_tops #content-pane {
  margin-top: 150px;
}

/* line 234, ../sass/screen.scss */
.nav_mens.nav_clothing.nav_bottoms #content-pane {
  margin-top: 150px;
}

/* line 234, ../sass/screen.scss */
.nav_mens.nav_clothing.nav_outerwear #content-pane {
  margin-top: 150px;
}

/* line 234, ../sass/screen.scss */
.nav_mens.nav_clothing.nav_suits #content-pane {
  margin-top: 150px;
}

/* line 240, ../sass/screen.scss */
.nav_tech.nav_audio #content-pane {
  margin-top: 150px;
}

/* line 240, ../sass/screen.scss */
.nav_tech.nav_cameras #content-pane {
  margin-top: 150px;
}

/* line 240, ../sass/screen.scss */
.nav_tech.nav_accessories #content-pane {
  margin-top: 150px;
}

/*3 Deep*/
/* line 251, ../sass/screen.scss */
.nav_home.nav_decor #content-pane,
.nav_home.nav_kitchen #content-pane {
  margin-top: 150px;
}

/*4 Deep*/
/* line 263, ../sass/screen.scss */
.nav_mens.nav_clothing.nav_bottoms #content-pane,
.nav_mens.nav_clothing.nav_tops #content-pane,
.nav_womens.nav_clothing.nav_bottoms #content-pane,
.nav_womens.nav_clothing.nav_tops #content-pane,
.nav-womens.nav_clothing.nav_outerwear #content-pane,
.nav-womens.nav_clothing.nav_underwear #content-pane,
.nav-womens.nav_clothing.nav_dresses #content-pane {
  margin-top: 200px;
}

/* line 267, ../sass/screen.scss */
.product-view #content-pane {
  margin-top: 80px !important;
}

/* line 270, ../sass/screen.scss */
.product-view .top-nav {
  opacity: 0;
  pointer-events: none;
}

/*Begin unnecessarily complicated selector stack*/
/* line 279, ../sass/screen.scss */
.nav_mens .nav_mens > ul + span a {
  background: rgba(255, 255, 255, 0);
  color: #fefefe !important;
}

/* line 283, ../sass/screen.scss */
.nav_mens .nav_mens > ul {
  display: table;
  position: absolute;
  pointer-events: auto !important;
  z-index: 3;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 1;
}

/* line 279, ../sass/screen.scss */
.nav_womens .nav_womens > ul + span a {
  background: rgba(255, 255, 255, 0);
  color: #fefefe !important;
}

/* line 283, ../sass/screen.scss */
.nav_womens .nav_womens > ul {
  display: table;
  position: absolute;
  pointer-events: auto !important;
  z-index: 3;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 1;
}

/* line 279, ../sass/screen.scss */
.nav_tech .nav_tech > ul + span a {
  background: rgba(255, 255, 255, 0);
  color: #fefefe !important;
}

/* line 283, ../sass/screen.scss */
.nav_tech .nav_tech > ul {
  display: table;
  position: absolute;
  pointer-events: auto !important;
  z-index: 3;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 1;
}

/* line 279, ../sass/screen.scss */
.nav_media .nav_media > ul + span a {
  background: rgba(255, 255, 255, 0);
  color: #fefefe !important;
}

/* line 283, ../sass/screen.scss */
.nav_media .nav_media > ul {
  display: table;
  position: absolute;
  pointer-events: auto !important;
  z-index: 3;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 1;
}

/* line 279, ../sass/screen.scss */
.nav_home .nav_home > ul + span a {
  background: rgba(255, 255, 255, 0);
  color: #fefefe !important;
}

/* line 283, ../sass/screen.scss */
.nav_home .nav_home > ul {
  display: table;
  position: absolute;
  pointer-events: auto !important;
  z-index: 3;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 1;
}

/* line 279, ../sass/screen.scss */
.nav_art .nav_art > ul + span a {
  background: rgba(255, 255, 255, 0);
  color: #fefefe !important;
}

/* line 283, ../sass/screen.scss */
.nav_art .nav_art > ul {
  display: table;
  position: absolute;
  pointer-events: auto !important;
  z-index: 3;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 1;
}

/* line 279, ../sass/screen.scss */
.nav_other .nav_other > ul + span a {
  background: rgba(255, 255, 255, 0);
  color: #fefefe !important;
}

/* line 283, ../sass/screen.scss */
.nav_other .nav_other > ul {
  display: table;
  position: absolute;
  pointer-events: auto !important;
  z-index: 3;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 1;
}

/* line 309, ../sass/screen.scss */
.nav_mens.nav_clothing.nav_tops .nav_mens .nav_clothing .nav_tops > ul,
.nav_mens.nav_clothing.nav_bottoms .nav_mens .nav_clothing .nav_bottoms > ul,
.nav_mens.nav_clothing.nav_tops .nav_mens .nav_clothing .nav_tops > ul,
.nav_mens.nav_clothing .nav_mens .nav_clothing > ul,
.nav_mens.nav_shoes .nav_mens .nav_shoes > ul,
.nav_mens.nav_accessories .nav_mens .nav_accessories > ul,
.nav_womens.nav_clothing.nav_tops .nav_womens .nav_clothing .nav_tops > ul,
.nav_womens.nav_clothing.nav_bottoms .nav_womens .nav_clothing .nav_bottoms > ul,
.nav_womens.nav_clothing.nav_tops .nav_womens .nav_clothing .nav_tops > ul,
.nav_womens.nav_clothing .nav_womens .nav_clothing > ul,
.nav_womens.nav_shoes .nav_womens .nav_shoes > ul,
.nav_womens.nav_accessories .nav_womens .nav_accessories > ul {
  display: table;
  position: absolute;
  pointer-events: auto !important;
  z-index: 3;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 1;
}

/* line 322, ../sass/screen.scss */
.nav_tech.nav_audio .nav_tech .nav_audio > ul,
.nav_tech.nav_cameras .nav_tech .nav_cameras > ul,
.nav_tech.nav_accessories .nav_tech .nav_accessories > ul {
  display: table;
  position: absolute;
  pointer-events: auto !important;
  z-index: 3;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 1;
}

/* line 336, ../sass/screen.scss */
.nav_home.nav_decor .nav_home .nav_decor > ul,
.nav_home.nav_furniture .nav_home .nav_furniture > ul,
.nav_home.nav_bath .nav_home .nav_bath > ul,
.nav_home.nav_bedding .nav_home .nav_bedding > ul,
.nav_home.nav_kitchen .nav_home .nav_kitchen > ul {
  display: table;
  position: absolute;
  pointer-events: auto !important;
  z-index: 3;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 1;
}

/* line 375, ../sass/screen.scss */
.nav_womens.nav_clothing.nav_tops .nav_womens .nav_clothing .nav_tops > ul + span a,
.nav_womens.nav_clothing.nav_bottoms .nav_womens .nav_clothing .nav_bottoms > ul + span a,
.nav_womens.nav_clothing.nav_tops .nav_womens .nav_clothing .nav_tops > ul + span a,
.nav_womens.nav_clothing .nav_womens .nav_clothing > ul + span a,
.nav_womens.nav_shoes .nav_womens .nav_shoes > ul + span a,
.nav_womens.nav_accessories .nav_womens .nav_accessories > ul + span a,
.nav_mens.nav_clothing.nav_tops .nav_mens .nav_clothing .nav_tops > ul + span a,
.nav_mens.nav_clothing.nav_bottoms .nav_mens .nav_clothing .nav_bottoms > ul + span a,
.nav_mens.nav_clothing.nav_tops .nav_mens .nav_clothing .nav_tops > ul + span a,
.nav_mens.nav_clothing .nav_mens .nav_clothing > ul + span a,
.nav_mens.nav_shoes .nav_mens .nav_shoes > ul + span a,
.nav_mens.nav_accessories .nav_mens .nav_accessories > ul + span a,
.nav_tech.nav_audio .nav_tech .nav_audio > ul + span a,
.nav_tech.nav_cameras .nav_tech .nav_cameras > ul + span a,
.nav_tech.nav_accessories .nav_tech .nav_accessories > ul + span a,
.nav_home.nav_decor .nav_home .nav_decor > ul + span a,
.nav_home.nav_furniture .nav_home .nav_furniture > span a,
.nav_home.nav_bath .nav_home .nav_bath > span a,
.nav_home.nav_bedding .nav_home .nav_bedding > span a,
.nav_home.nav_kitchen .nav_home .nav_kitchen > ul + span a,
.nav_art.nav_supplies .nav_art .nav_supplies > span a,
.nav_art.nav_collage .nav_art .nav_collage > span a,
.nav_art.nav_photography .nav_art .nav_photography > span a,
.nav_art.nav_3d .nav_art .nav_3d > span a,
.nav_art.nav_posters .nav_art .nav_posters > span a {
  background: rgba(255, 255, 255, 0);
  color: #fefefe !important;
}

/*Cul-de-sac categories*/
/* line 392, ../sass/screen.scss */
.nav_media.nav_books-music .nav_media .nav_books-music > span a,
.nav_media.nav_movies .nav_media .nav_movies > span a,
.nav_other.nav_booze .nav_other .nav_booze > span a,
.nav_other.nav_cycling .nav_other .nav_cycling > span a,
.nav_other.nav_toys .nav_other .nav_toys > span a,
.nav_other.nav_games .nav_other .nav_games > span a,
.nav_other.nav_antiques .nav_other .nav_antiques > span a,
.nav_other.nav_pets .nav_other .nav_pets > span a,
.nav_other.nav_tools .nav_other .nav_tools > span a,
.nav_other.nav_camping .nav_other .nav_camping > span a {
  background: rgba(255, 255, 255, 0);
  color: #fefefe !important;
}

/*Main application*/
/* line 399, ../sass/screen.scss */
.application-name {
  position: fixed;
  opacity: 0.0;
  font-weight: bold;
  top: 5px;
  right: 5px;
  pointer-events: none;
  color: #fff;
}

/* line 408, ../sass/screen.scss */
.total-products {
  position: absolute;
  left: 20px;
  min-width: 200px;
  padding: 20px 15px;
  background-color: #e0e0e0;
}
/* line 414, ../sass/screen.scss */
.total-products strong {
  font-size: 3em;
}

/* line 418, ../sass/screen.scss */
.category-nav {
  list-style: none;
  display: table;
  width: 100%;
  margin-top: -80px;
}
/* line 423, ../sass/screen.scss */
.category-nav li {
  display: table-cell;
  min-width: 80px;
}
/* line 426, ../sass/screen.scss */
.category-nav li:last-child {
  border-right: 0;
}
/* line 429, ../sass/screen.scss */
.category-nav li a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 26px;
}
/* line 434, ../sass/screen.scss */
.category-nav li a:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 28px solid transparent;
  border-bottom: 28px solid transparent;
  border-left: 28px solid white;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
}
/* line 447, ../sass/screen.scss */
.category-nav li a:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 28px solid transparent;
  border-bottom: 28px solid transparent;
  border-left: 28px solid black;
  position: absolute;
  right: -28px;
  top: 0;
  z-index: 10;
  pointer-events: none;
}

/* line 464, ../sass/screen.scss */
.category-list {
  width: 100%;
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  text-align: center;
}
/* line 471, ../sass/screen.scss */
.category-list li {
  display: inline-block;
  margin: 0 0 15px !important;
  padding: 0 !important;
  height: 100%;
  width: 90%;
  overflow: hidden;
  position: relative;
}
/* line 479, ../sass/screen.scss */
.category-list li a {
  position: relative;
}
/* line 482, ../sass/screen.scss */
.category-list li img {
  max-width: 100%;
  overflow: auto;
}
/* line 487, ../sass/screen.scss */
.category-list .page-title {
  position: absolute;
  bottom: 4px;
  left: 0;
  z-index: 10;
  font-size: 16px;
  color: #000;
  line-height: 1.2;
  text-align: left;
  display: block;
  padding: 10px;
  background-color: rgba(224, 224, 224, 0.6);
}

/* line 501, ../sass/screen.scss */
#content-pane {
  margin-top: 80px;
  text-align: center;
}

/* line 507, ../sass/screen.scss */
.user-avatar {
  position: absolute !important;
  color: inherit;
  text-decoration: none;
  margin-left: 5px;
}

/* line 513, ../sass/screen.scss */
.user-name {
  font-weight: bold;
  color: black;
  line-height: 50px;
  position: absolute;
  margin-left: 5px;
  white-space: nowrap;
}
/* line 520, ../sass/screen.scss */
.user-name img {
  width: 50px;
  -moz-border-radius: 52px;
  -webkit-border-radius: 52px;
  border-radius: 52px;
  margin-left: 5px;
}

/*Product details*/
/* line 530, ../sass/screen.scss */
.product-details {
  padding-top: 20px;
  position: relative;
  display: inline-block;
}
/* line 534, ../sass/screen.scss */
.product-details h2 {
  font-size: 24px;
  width: 100%;
  margin: 10px auto 10px;
  position: absolute;
}
/* line 540, ../sass/screen.scss */
.product-details a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

/* line 547, ../sass/screen.scss */
.product-details-content {
  position: absolute;
  top: 20px;
  left: 100%;
  margin-left: 5px;
  padding-top: 52px;
  padding-left: 60px;
  text-align: left;
}
/* line 555, ../sass/screen.scss */
.product-details-content span {
  white-space: nowrap;
}
/* line 558, ../sass/screen.scss */
.product-details-content .user-avatar {
  left: 0;
  top: 0;
}

/*Category navigation*/
/* line 565, ../sass/screen.scss */
.category-nav li a {
  display: block;
  width: auto;
  position: relative;
}

/* line 570, ../sass/screen.scss */
.category-nav a {
  background-color: black;
  margin-bottom: 6px;
}

/* line 574, ../sass/screen.scss */
.category-nav li:last-child a {
  border-right: 0;
}

/* line 577, ../sass/screen.scss */
.category-nav a:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

/* line 588, ../sass/screen.scss */
.login-category {
  display: none !important;
}

/* line 591, ../sass/screen.scss */
.login-category a:after {
  display: block;
  content: "";
  width: 100%;
  height: 67px;
  background: url("/app/images/white-padded.png") -11px 10px repeat-x;
  position: absolute;
  top: -11px;
  left: -11px;
}

/* line 602, ../sass/screen.scss */
.category-nav a {
  margin-bottom: 0 !important;
  line-height: 56px;
}

/* line 606, ../sass/screen.scss */
.category-nav a {
  color: #fff;
}

/* line 609, ../sass/screen.scss */
.category-nav:hover > span a {
  color: #b5b5b5 !important;
}

/* line 618, ../sass/screen.scss */
.category > ul,
.category > .category-name,
.category-name + span,
.category a,
.category-nav a,
#primary-navigation {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
