/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/h5bp/css/normalize.css";
@import "../../vendor/h5bp/css/main.css";

@mixin selected-ul {
      display: table;
      position: absolute;
      pointer-events: auto !important;
      z-index: 3;
      top: 100%;
      left: 0;
      width: 100%;
      opacity: 1;
}
@mixin selected-span {
      background: rgba(255,255,255,0);
      color: #fefefe !important;
}

/*-- Application stylesheets. -----------------------------------------------*/
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    overflow-x: hidden;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*Navigation styles*/
body {
	background: url(/app/images/purty_wood.png);
}

#primary-navigation {
  position: absolute;
  top: 0;
}

.product-view #primary-navigation {
  margin-top: -8.5em;
}
.category {
  font-size: 36px;
  line-height: 1.16;
	& > ul { 
	  pointer-events: none;
	  position: absolute; 
	  top: -100%;
	  opacity: 0;
	  z-index: 1;
	}
	a { color: inherit; }
}

.child-categories {
	display: table;
	position: relative;
	width: 100%;
	min-width: 450px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
	li {
		display: table-cell;
		min-height: 150px;
		min-width: 70px;
		text-align: center;
		&:last-child {
		  border-right: 0;
		}
	  	a {
			width: 100%;
			height: 100%;
			display: inline-block;
			text-decoration: none;
			white-space: nowrap;
			background: rgba(0,0,0,1);
			&:hover {
        @include selected-span;
			}
	  	}
	}
}

.active_ > ul {
	display: table;
	position: absolute;
	top: 100%;
	left: 0;
}

.category-name {
	position: relative;
	z-index: 1;
	font-family: Helvetica;
	pointer-events: none;
	margin-left: -11px;
	& + span {
		width: 100%;
		height: 100%;
		display: block;
		z-index: 0;
		position: absolute;
		top: 0;
	}
}

$primary-nav-list: mens womens tech media home art other;
@mixin primary-nav {
  	$mens-nav-list: clothing shoes accessories;
  		$mens-clothing-nav-list: tops bottoms outerwear suits;
  			$mens-clothing-tops-nav-list: shirts sweaters sweatshirts t-shirts;
  			$mens-clothing-bottoms-nav-list: jeans pants shorts socks underwear swim;
  		$mens-shoes-nav-list: casual sneakers dress boots sandals;
  		$mens-accessories-nav-list: bags watches wallets belts ties hats glasses;
        $mens-accessories-bags-nav-list: backpacks messenger luggage;
        $mens-accessories-watches-nav-list: casual formal;
        $mens-accessories-hats-nav-list: caps classic beanies;
  	$womens-nav-list: clothing shoes accessories beauty;
  		$womens-clothing-nav-list: dresses tops bottoms outerwear underwear;
  			$womens-clothing-tops-nav-list: shirts sweaters sweatshirts t-shirts blazers;
        $womens-clothing-bottoms-nav-list: jeans pants shorts rompers skirts swim;
        $womens-clothing-underwear-nav-list: bras-undies slips bodysuits tights socks;
		$womens-shoes-nav-list: sandals heels flats boots sneakers;
		$womens-accessories-nav-list: bags watches belts jewelry hair hats scarves glasses;
      $womens-accessories-bags-nav-list: purses wallets clutches totes backpacks luggage;
	$tech-nav-list: audio cameras accessories;
		$tech-audio-nav-list: turntables headphones speakers instruments;
		$tech-cameras-nav-list: digital analog accessories;
		$tech-other-nav-list: laptop phone other;
	$media-nav-list: books-music movies;
	$home-nav-list: kitchen bedding bath furniture decor;
		$home-kitchen-nav-list: cookware coffee-tea storage cutlery utensils appliances accessories;
		$home-decor-nav-list: rugs lighting accessories pillows clocks;
	$art-nav-list: 3d posters photography collage supplies;
	$other-nav-list: booze cycling toys games antiques pets camping tools;


  @each $option in $primary-nav-list {
	    .nav_#{$option} #content-pane {
	      margin-top: 100px;  
	    }
	}

// Mens
  @each $option in $mens-nav-list {
      .nav_mens_#{$option} #content-pane {
        margin-top: 150px;  
      }
      // Second tier
      .nav_mens_#{$option} .nav_mens > span a,
      .nav_mens_#{$option} .nav_mens .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_mens_#{$option} .nav_mens > ul,
      .nav_mens_#{$option} .nav_mens .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

  // Mens Shoes
  @each $option in $mens-shoes-nav-list {
      .nav_mens_shoes_#{$option} #content-pane {
        margin-top: 150px;  
      }
      // Second tier
      .nav_mens_shoes_#{$option} .nav_mens > span a,
      .nav_mens_shoes_#{$option} .nav_mens .nav_shoes > span a,
      .nav_mens_shoes_#{$option} .nav_mens .nav_shoes .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_mens_shoes_#{$option} .nav_mens > ul,
      .nav_mens_shoes_#{$option} .nav_mens .nav_shoes > ul,
      .nav_mens_shoes_#{$option} .nav_mens .nav_shoes .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

  // Mens Accessories
  @each $option in $mens-accessories-nav-list {
      .nav_mens_accessories_#{$option} #content-pane {
        margin-top: 150px;  
      }
      // Second tier
      .nav_mens_accessories_#{$option} .nav_mens > span a,
      .nav_mens_accessories_#{$option} .nav_mens .nav_accessories > span a,
      .nav_mens_accessories_#{$option} .nav_mens .nav_accessories .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_mens_accessories_#{$option} .nav_mens > ul,
      .nav_mens_accessories_#{$option} .nav_mens .nav_accessories > ul,
      .nav_mens_accessories_#{$option} .nav_mens .nav_accessories .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

// Mens Accessories Bags
  @each $option in $mens-accessories-bags-nav-list {
      .nav_mens_accessories_bags_#{$option} #content-pane {
        margin-top: 200px;  
      }
      // Second tier
      .nav_mens_accessories_bags_#{$option} .nav_mens > span a,
      .nav_mens_accessories_bags_#{$option} .nav_mens .nav_accessories > span a,
      .nav_mens_accessories_bags_#{$option} .nav_mens .nav_accessories .nav_bags > span a,
      .nav_mens_accessories_bags_#{$option} .nav_mens .nav_accessories .nav_bags .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_mens_accessories_bags_#{$option} .nav_mens > ul,
      .nav_mens_accessories_bags_#{$option} .nav_mens .nav_accessories > ul,
      .nav_mens_accessories_bags_#{$option} .nav_mens .nav_accessories .nav_bags > ul,
      .nav_mens_accessories_bags_#{$option} .nav_mens .nav_accessories .nav_bags .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

// Mens Accessories Watches
  @each $option in $mens-accessories-watches-nav-list {
      .nav_mens_accessories_watches_#{$option} #content-pane {
        margin-top: 200px;  
      }
      // Second tier
      .nav_mens_accessories_watches_#{$option} .nav_mens > span a,
      .nav_mens_accessories_watches_#{$option} .nav_mens .nav_accessories > span a,
      .nav_mens_accessories_watches_#{$option} .nav_mens .nav_accessories .nav_watches > span a,
      .nav_mens_accessories_watches_#{$option} .nav_mens .nav_accessories .nav_watches .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_mens_accessories_watches_#{$option} .nav_mens > ul,
      .nav_mens_accessories_watches_#{$option} .nav_mens .nav_accessories > ul,
      .nav_mens_accessories_watches_#{$option} .nav_mens .nav_accessories .nav_watches > ul,
      .nav_mens_accessories_watches_#{$option} .nav_mens .nav_accessories .nav_watches .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

// Mens Accessories Hats
  @each $option in $mens-accessories-hats-nav-list {
      .nav_mens_accessories_hats_#{$option} #content-pane {
        margin-top: 200px;  
      }
      // Second tier
      .nav_mens_accessories_hats_#{$option} .nav_mens > span a,
      .nav_mens_accessories_hats_#{$option} .nav_mens .nav_accessories > span a,
      .nav_mens_accessories_hats_#{$option} .nav_mens .nav_accessories .nav_hats > span a,
      .nav_mens_accessories_hats_#{$option} .nav_mens .nav_accessories .nav_hats .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_mens_accessories_hats_#{$option} .nav_mens > ul,
      .nav_mens_accessories_hats_#{$option} .nav_mens .nav_accessories > ul,
      .nav_mens_accessories_hats_#{$option} .nav_mens .nav_accessories .nav_hats > ul,
      .nav_mens_accessories_hats_#{$option} .nav_mens .nav_accessories .nav_hats .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

// Mens Clothing
  @each $option in $mens-clothing-nav-list {
	    .nav_mens_clothing_#{$option} #content-pane {
	      margin-top: 150px;  
	    }
      // Second tier
      .nav_mens_clothing_#{$option} .nav_mens > span a,
      .nav_mens_clothing_#{$option} .nav_mens .nav_clothing > span a,
      .nav_mens_clothing_#{$option} .nav_mens .nav_clothing .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_mens_clothing_#{$option} .nav_mens > ul,
      .nav_mens_clothing_#{$option} .nav_mens .nav_clothing > ul,
      .nav_mens_clothing_#{$option} .nav_mens .nav_clothing .nav_#{$option} > ul {
        @include selected-ul;
    }
	}

// Mens Clothing Tops
  @each $option in $mens-clothing-tops-nav-list {
      .nav_mens_clothing_tops_#{$option} #content-pane {
        margin-top: 150px;  
      }
      // Second tier
      .nav_mens_clothing_tops_#{$option} .nav_mens > span a,
      .nav_mens_clothing_tops_#{$option} .nav_mens .nav_clothing > span a,
      .nav_mens_clothing_tops_#{$option} .nav_mens .nav_clothing .nav_tops > span a,
      .nav_mens_clothing_tops_#{$option} .nav_mens .nav_clothing .nav_tops .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_mens_clothing_tops_#{$option} .nav_mens > ul,
      .nav_mens_clothing_tops_#{$option} .nav_mens .nav_clothing > ul,
      .nav_mens_clothing_tops_#{$option} .nav_mens .nav_clothing .nav_tops > ul,
      .nav_mens_clothing_tops_#{$option} .nav_mens .nav_clothing .nav_tops .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

//Mens Clothing Bottoms
  @each $option in $mens-clothing-bottoms-nav-list {
    .nav_mens_clothing_bottoms_#{$option} #content-pane {
      margin-top: 200px;  
    }

    // Second tier
    .nav_mens_clothing_bottoms_#{$option} .nav_mens > span a,
    .nav_mens_clothing_bottoms_#{$option} .nav_mens .nav_clothing > span a,
    .nav_mens_clothing_bottoms_#{$option} .nav_mens .nav_clothing .nav_bottoms > span a,
    .nav_mens_clothing_bottoms_#{$option} .nav_mens .nav_clothing .nav_bottoms .nav_#{$option} > span a {
        @include selected-span;
    }
    //Third and fourth tier
    .nav_mens_clothing_bottoms_#{$option} .nav_mens > ul,
    .nav_mens_clothing_bottoms_#{$option} .nav_mens .nav_clothing > ul,
    .nav_mens_clothing_bottoms_#{$option} .nav_mens .nav_clothing .nav_bottoms > ul,
    .nav_mens_clothing_bottoms_#{$option} .nav_mens .nav_clothing .nav_bottoms .nav_#{$option} > ul {
        @include selected-ul;
  }

}

// Overrides for deep categories
  @each $option in $mens-clothing-tops-nav-list {
    .nav_mens_clothing_tops_#{$option} #content-pane {
      margin-top: 200px;  
    }
  }

  .nav_mens_accessories_hats #content-pane,
  .nav_mens_accessories_bags #content-pane,
  .nav_mens_accessories_watches #content-pane,
  .nav_mens_clothing_bottoms #content-pane,
  .nav_mens_clothing_tops #content-pane
   {
    margin-top: 200px;  
  }

// End Mens


// Begin Womens
// Womens
  @each $option in $womens-nav-list {
      .nav_womens_#{$option} #content-pane {
        margin-top: 150px;  
      }
      // Second tier
      .nav_womens_#{$option} .nav_womens > span a,
      .nav_womens_#{$option} .nav_womens .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_womens_#{$option} .nav_womens > ul,
      .nav_womens_#{$option} .nav_womens .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

// Womens Accessories
  @each $option in $womens-accessories-nav-list {
      .nav_womens_accessories_#{$option} #content-pane {
        margin-top: 150px;  
      }
      // Second tier
      .nav_womens_accessories_#{$option} .nav_womens > span a,
      .nav_womens_accessories_#{$option} .nav_womens .nav_accessories > span a,
      .nav_womens_accessories_#{$option} .nav_womens .nav_accessories .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_womens_accessories_#{$option} .nav_womens > ul,
      .nav_womens_accessories_#{$option} .nav_womens .nav_accessories > ul,
      .nav_womens_accessories_#{$option} .nav_womens .nav_accessories .nav_#{$option} > ul {
        @include selected-ul;
    }
  }


// Womens Accessories Bags
  @each $option in $womens-accessories-bags-nav-list {
      .nav_womens_accessories_bags_#{$option} #content-pane {
        margin-top: 200px;  
      }
      // Second tier
      .nav_womens_accessories_bags_#{$option} .nav_womens > span a,
      .nav_womens_accessories_bags_#{$option} .nav_womens .nav_accessories > span a,
      .nav_womens_accessories_bags_#{$option} .nav_womens .nav_accessories .nav_bags > span a,
      .nav_womens_accessories_bags_#{$option} .nav_womens .nav_accessories .nav_bags .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_womens_accessories_bags_#{$option} .nav_womens > ul,
      .nav_womens_accessories_bags_#{$option} .nav_womens .nav_accessories > ul,
      .nav_womens_accessories_bags_#{$option} .nav_womens .nav_accessories .nav_bags > ul,
      .nav_womens_accessories_bags_#{$option} .nav_womens .nav_accessories .nav_bags .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

  // Womens Shoes
  @each $option in $womens-shoes-nav-list {
      .nav_womens_shoes_#{$option} #content-pane {
        margin-top: 150px;  
      }
      // Second tier
      .nav_womens_shoes_#{$option} .nav_womens > span a,
      .nav_womens_shoes_#{$option} .nav_womens .nav_shoes > span a,
      .nav_womens_shoes_#{$option} .nav_womens .nav_shoes .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_womens_shoes_#{$option} .nav_womens > ul,
      .nav_womens_shoes_#{$option} .nav_womens .nav_shoes > ul,
      .nav_womens_shoes_#{$option} .nav_womens .nav_shoes .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

// Womens Clothing
  @each $option in $womens-clothing-nav-list {
      .nav_womens_clothing_#{$option} #content-pane {
        margin-top: 150px;  
      }
      // Second tier
      .nav_womens_clothing_#{$option} .nav_womens > span a,
      .nav_womens_clothing_#{$option} .nav_womens .nav_clothing > span a,
      .nav_womens_clothing_#{$option} .nav_womens .nav_clothing .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_womens_clothing_#{$option} .nav_womens > ul,
      .nav_womens_clothing_#{$option} .nav_womens .nav_clothing > ul,
      .nav_womens_clothing_#{$option} .nav_womens .nav_clothing .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

// Womens Clothing Tops
  @each $option in $womens-clothing-tops-nav-list {
      .nav_womens_clothing_tops_#{$option} #content-pane {
        margin-top: 150px;  
      }
      // Second tier
      .nav_womens_clothing_tops_#{$option} .nav_womens > span a,
      .nav_womens_clothing_tops_#{$option} .nav_womens .nav_clothing > span a,
      .nav_womens_clothing_tops_#{$option} .nav_womens .nav_clothing .nav_tops > span a,
      .nav_womens_clothing_tops_#{$option} .nav_womens .nav_clothing .nav_tops .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_womens_clothing_tops_#{$option} .nav_womens > ul,
      .nav_womens_clothing_tops_#{$option} .nav_womens .nav_clothing > ul,
      .nav_womens_clothing_tops_#{$option} .nav_womens .nav_clothing .nav_tops > ul,
      .nav_womens_clothing_tops_#{$option} .nav_womens .nav_clothing .nav_tops .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

//Womens Clothing Bottoms
  @each $option in $womens-clothing-bottoms-nav-list {
    .nav_womens_clothing_bottoms_#{$option} #content-pane {
      margin-top: 200px;  
    }

    // Second tier
    .nav_womens_clothing_bottoms_#{$option} .nav_womens > span a,
    .nav_womens_clothing_bottoms_#{$option} .nav_womens .nav_clothing > span a,
    .nav_womens_clothing_bottoms_#{$option} .nav_womens .nav_clothing .nav_bottoms > span a,
    .nav_womens_clothing_bottoms_#{$option} .nav_womens .nav_clothing .nav_bottoms .nav_#{$option} > span a {
        @include selected-span;
    }
    //Third and fourth tier
    .nav_womens_clothing_bottoms_#{$option} .nav_womens > ul,
    .nav_womens_clothing_bottoms_#{$option} .nav_womens .nav_clothing > ul,
    .nav_womens_clothing_bottoms_#{$option} .nav_womens .nav_clothing .nav_bottoms > ul,
    .nav_womens_clothing_bottoms_#{$option} .nav_womens .nav_clothing .nav_bottoms .nav_#{$option} > ul {
        @include selected-ul;
    }

  }

//Womens Clothing Underwear
  @each $option in $womens-clothing-underwear-nav-list {
    .nav_womens_clothing_underwear_#{$option} #content-pane {
      margin-top: 200px;  
    }

    // Second tier
    .nav_womens_clothing_underwear_#{$option} .nav_womens > span a,
    .nav_womens_clothing_underwear_#{$option} .nav_womens .nav_clothing > span a,
    .nav_womens_clothing_underwear_#{$option} .nav_womens .nav_clothing .nav_underwear > span a,
    .nav_womens_clothing_underwear_#{$option} .nav_womens .nav_clothing .nav_underwear .nav_#{$option} > span a {
        @include selected-span;
    }
    //Third and fourth tier
    .nav_womens_clothing_underwear_#{$option} .nav_womens > ul,
    .nav_womens_clothing_underwear_#{$option} .nav_womens .nav_clothing > ul,
    .nav_womens_clothing_underwear_#{$option} .nav_womens .nav_clothing .nav_underwear > ul,
    .nav_womens_clothing_underwear_#{$option} .nav_womens .nav_clothing .nav_underwear .nav_#{$option} > ul {
        @include selected-ul;
    }

  }

// Overrides for deep categories
  @each $option in $womens-clothing-tops-nav-list {
    .nav_womens_clothing_tops_#{$option} #content-pane {
      margin-top: 200px;  
    }
  }
  @each $option in $womens-clothing-bottoms-nav-list {
    .nav_womens_clothing_bottoms_#{$option} #content-pane {
      margin-top: 200px;  
    }
  }
  @each $option in $womens-clothing-underwear-nav-list {
    .nav_womens_clothing_underwear_#{$option} #content-pane {
      margin-top: 200px;  
    }
  }

  .nav_womens_accessories_bags #content-pane {
    margin-top: 200px;
  }

  .nav_womens_beauty #content-pane {
    margin-top: 100px;
  }

  .nav_womens_clothing_underwear #content-pane,
  .nav_womens_clothing_bottoms #content-pane,
  .nav_womens_clothing_tops #content-pane
   {
    margin-top: 200px;  
  }
// End Womens

// Tech
  @each $option in $tech-nav-list {
      .nav_tech_#{$option} #content-pane {
        margin-top: 150px;  
      }
      // Second tier
      .nav_tech_#{$option} .nav_tech > span a,
      .nav_tech_#{$option} .nav_tech .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_tech_#{$option} .nav_tech > ul,
      .nav_tech_#{$option} .nav_tech .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

// Tech Audio
  @each $option in $tech-audio-nav-list {
      .nav_tech_audio_#{$option} #content-pane {
        margin-top: 150px;  
      }
      // Second tier
      .nav_tech_audio_#{$option} .nav_tech > span a,
      .nav_tech_audio_#{$option} .nav_tech .nav_audio > span a,
      .nav_tech_audio_#{$option} .nav_tech .nav_audio .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_tech_audio_#{$option} .nav_tech > ul,
      .nav_tech_audio_#{$option} .nav_tech .nav_audio > ul,
      .nav_tech_audio_#{$option} .nav_tech .nav_audio .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

// Tech Cameras
  @each $option in $tech-cameras-nav-list {
      .nav_tech_cameras_#{$option} #content-pane {
        margin-top: 150px;  
      }
      // Second tier
      .nav_tech_cameras_#{$option} .nav_tech > span a,
      .nav_tech_cameras_#{$option} .nav_tech .nav_cameras > span a,
      .nav_tech_cameras_#{$option} .nav_tech .nav_cameras .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_tech_cameras_#{$option} .nav_tech > ul,
      .nav_tech_cameras_#{$option} .nav_tech .nav_cameras > ul,
      .nav_tech_cameras_#{$option} .nav_tech .nav_cameras .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

// Tech Accessories
  @each $option in $tech-other-nav-list {
      .nav_tech_accessories_#{$option} #content-pane {
        margin-top: 150px;  
      }
      // Second tier
      .nav_tech_accessories_#{$option} .nav_tech > span a,
      .nav_tech_accessories_#{$option} .nav_tech .nav_accessories > span a,
      .nav_tech_accessories_#{$option} .nav_tech .nav_accessories .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_tech_accessories_#{$option} .nav_tech > ul,
      .nav_tech_accessories_#{$option} .nav_tech .nav_accessories > ul,
      .nav_tech_accessories_#{$option} .nav_tech .nav_accessories .nav_#{$option} > ul {
        @include selected-ul;
    }
  }
// Tech End

// Media
  @each $option in $media-nav-list {
      .nav_media_#{$option} #content-pane {
        margin-top: 100px;  
      }
      // Second tier
      .nav_media_#{$option} .nav_media > span a,
      .nav_media_#{$option} .nav_media .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_media_#{$option} .nav_media > ul,
      .nav_media_#{$option} .nav_media .nav_#{$option} > ul {
        @include selected-ul;
    }
  }
// Media End

// Home
  @each $option in $home-nav-list {
      .nav_home_#{$option} #content-pane {
        margin-top: 100px;  
      }
      // Second tier
      .nav_home_#{$option} .nav_home > span a,
      .nav_home_#{$option} .nav_home .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_home_#{$option} .nav_home > ul,
      .nav_home_#{$option} .nav_home .nav_#{$option} > ul {
        @include selected-ul;
    }
  }


// Home Kitchen
  @each $option in $home-kitchen-nav-list {
      .nav_home_kitchen_#{$option} #content-pane {
        margin-top: 150px;  
      }
      // Second tier
      .nav_home_kitchen_#{$option} .nav_home > span a,
      .nav_home_kitchen_#{$option} .nav_home .nav_kitchen > span a,
      .nav_home_kitchen_#{$option} .nav_home .nav_kitchen .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_home_kitchen_#{$option} .nav_home > ul,
      .nav_home_kitchen_#{$option} .nav_home .nav_kitchen > ul,
      .nav_home_kitchen_#{$option} .nav_home .nav_kitchen .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

// Home Decor
  @each $option in $home-decor-nav-list {
      .nav_home_decor_#{$option} #content-pane {
        margin-top: 150px;  
      }
      // Second tier
      .nav_home_decor_#{$option} .nav_home > span a,
      .nav_home_decor_#{$option} .nav_home .nav_decor > span a,
      .nav_home_decor_#{$option} .nav_home .nav_decor .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_home_decor_#{$option} .nav_home > ul,
      .nav_home_decor_#{$option} .nav_home .nav_decor > ul,
      .nav_home_decor_#{$option} .nav_home .nav_decor .nav_#{$option} > ul {
        @include selected-ul;
    }
  }

// Deep categories
.nav_home_kitchen #content-pane,
.nav_home_decor #content-pane { margin-top: 150px; }
// Home End


// Art
  @each $option in $art-nav-list {
      .nav_art_#{$option} #content-pane {
        margin-top: 100px;  
      }
      // Second tier
      .nav_art_#{$option} .nav_art > span a,
      .nav_art_#{$option} .nav_art .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_art_#{$option} .nav_art > ul,
      .nav_art_#{$option} .nav_art .nav_#{$option} > ul {
        @include selected-ul;
    }
  }
// Art End

// Other
  @each $option in $other-nav-list {
      .nav_other_#{$option} #content-pane {
        margin-top: 100px;  
      }
      // Second tier
      .nav_other_#{$option} .nav_other > span a,
      .nav_other_#{$option} .nav_other .nav_#{$option} > span a {
        @include selected-span;
      }
      .nav_other_#{$option} .nav_other > ul,
      .nav_other_#{$option} .nav_other .nav_#{$option} > ul {
        @include selected-ul;
    }
  }
// Other End


}
@include primary-nav;



.product-view #content-pane {
  margin-top: 80px !important;
}
.product-view .top-nav {
  opacity: 0;
  pointer-events: none;
}

/*Begin unnecessarily complicated selector stack*/
@mixin span-backer {

  @each $option in $primary-nav-list {
	    .nav_#{$option} .nav_#{$option} > ul + span a {
        @include selected-span;
	    }
	    .nav_#{$option} .nav_#{$option} > ul {
        @include selected-ul;
		}
	}	
}
@include span-backer;



/*Main application*/
.application-name {
  position: fixed;
  opacity: 0.0;
  font-weight: bold;
  top: 5px;
  right: 5px;
  pointer-events: none;
  color: #fff;
}
.total-products {
  position: absolute;
  left: 20px;
  min-width: 200px;
  padding: 20px 15px;
  background-color: rgba(224,224,224,1);
	strong {
		font-size: 3em;
	}
}
.category-nav {
list-style: none;
display: table;
width: 100%;
margin-top: -80px;
	li { 
		display: table-cell;
		min-width: 80px;
		&:last-child { 
			border-right: 0; 
		}
		a {
			display: block;
			width: 100%;
			text-decoration: none;
			font-size: 26px;
			&:after {
				content: "";
				width: 0; 
				height: 0; 
				border-top: 28px solid transparent;
				border-bottom: 28px solid transparent;
				border-left: 28px solid white;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 9;
				pointer-events: none;
			}
			&:before {
				content: "";
				width: 0; 
				height: 0; 
				border-top: 28px solid transparent;
				border-bottom: 28px solid transparent;
				border-left: 28px solid black;
				position: absolute;
				right: -28px;
				top: 0;
				z-index: 10;
				pointer-events: none;
			}
		}
	}
}

.category-list {
	width: 100%;
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
	text-align: center;
	li {
		display: inline-block;
		margin: 0 0 15px !important;
		padding: 0 !important;
		height: 100%;
		width: 90%;
		overflow: hidden;
		position: relative;
		a {
			position: relative;
		}
		img {
			max-width: 100%;
			overflow: auto;
		}
	}
	.page-title {
		position: absolute;
		bottom: 4px;
		left: 0;
		z-index: 10;
		font-size: 16px;
		color: #000;
		line-height: 1.2;
		text-align: left;
		display: block;
		padding: 10px;
		background-color: rgba(224,224,224,0.6);
	}
}
#content-pane {
  margin-top: 80px;
  text-align: center;
}

//Avatar and users
.user-avatar {
  position: absolute !important;
  color: inherit;
  text-decoration: none;
  margin-left: 5px;
  img {
    width: 50px;
    -moz-border-radius:52px;
    -webkit-border-radius:52px;
    border-radius:52px;
    margin-left: 5px;
  }
}
.user-name {
  font-weight: bold;
  color: black;
  line-height: 50px;
  position: absolute;
  margin-left: 5px;
  white-space: nowrap;
}

/*Product details*/
.product-details {
  padding-top: 20px;
  position: relative;
  display: inline-block;
	h2 {
		font-size: 24px;
		width: 100%;
		margin: 10px auto 10px;
		position: absolute;
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: black;
	}
}

.product-details-content {
  position: absolute;
  top: 20px;
  left: 100%;
  margin-left: 5px;
  padding-top: 52px;
  padding-left: 60px;
  text-align: left;
	span {
		white-space: nowrap;
	}
	.user-avatar {
		left: 0;
		top: 0;
	}
}

/*Category navigation*/
.category-nav li a {
  display: block;
  width: auto;  
  position: relative;
}
.category-nav a {
  background-color: black;
  margin-bottom: 6px;
}
.category-nav li:last-child a {
  border-right: 0;
}
.category-nav a:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.login-category {
  display: none !important;
}
.login-category a:after {
  display: block;
  content: "";
  width: 100%;
  height: 67px;
  background: url('/app/images/white-padded.png') -11px 10px repeat-x;
  position: absolute;
  top: -11px;
  left: -11px;
}

.category-nav a {
  margin-bottom: 0 !important;
  line-height: 56px;
}
.category-nav a {
  color: #fff;
}
.category-nav:hover > span a {
  color: #b5b5b5 !important;
}

// Animation keyframes
@-moz-keyframes move{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes move{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.loading {
  overflow: hidden;
  span {
    font-size: 1.2em;
  }
  .dot-1 {
    font-size: 1.4em;
    -moz-animation:move 1.5s infinite linear;
    -webkit-animation:move 1.5s infinite linear;
  }
  .dot-2 {
    font-size: 1.4em;
    -moz-animation:move 2.0s infinite linear;
    -webkit-animation:move 2.0s infinite linear;
  }
  .dot-3 {
    font-size: 1.4em;
    -moz-animation:move 2.5s infinite linear;
    -webkit-animation:move 2.5s infinite linear;
  }
}

.category > ul,
.category > .category-name,
.category-name + span,
.category a,
.category-nav a,
#primary-navigation,
#content-pane {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}