/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/h5bp/css/normalize.css";
@import "../../vendor/h5bp/css/main.css";

/*-- Application stylesheets. -----------------------------------------------*/
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    overflow-x: hidden;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*Navigation styles*/
body {
	background: url(/app/images/purty_wood.png);
}

#primary-navigation {
  position: absolute;
  top: 0;
}

.product-view #primary-navigation {
  margin-top: -8.5em;
}
.category {
  font-size: 36px;
  line-height: 1.16;
	& > ul { 
	  pointer-events: none;
	  position: absolute; 
	  top: -100%;
	  opacity: 0;
	  z-index: 1;
	}
	a { color: inherit; }
}

.child-categories {
	display: table;
	position: relative;
	width: 100%;
	min-width: 450px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
	li {
		display: table-cell;
		min-height: 150px;
		min-width: 70px;
		text-align: center;
		&:last-child {
		  border-right: 0;
		}
	  	a {
			width: 100%;
			height: 100%;
			display: inline-block;
			text-decoration: none;
			white-space: nowrap;
			background: rgba(0,0,0,1);
			&:hover {
			  background: rgba(255,255,255,0.0);
			  color: #fefefe !important;
			}
	  	}
	}
}

.active_ > ul {
	display: table;
	position: absolute;
	top: 100%;
	left: 0;
}

.category-name {
	position: relative;
	z-index: 1;
	font-family: Helvetica;
	pointer-events: none;
	margin-left: -11px;
	& + span {
		width: 100%;
		height: 100%;
		display: block;
		z-index: 0;
		position: absolute;
		top: 0;
	}
}

$primary-nav-list: mens womens tech media home art other;
@mixin primary-nav {
  	$mens-nav-list: clothing shoes accessories;
  		$mens-clothing-nav-list: tops bottoms outerwear suits;
  			$mens-clothing-tops-nav-list: shirts sweaters sweatshirts t-shirts;
  			$mens-clothing-bottoms-nav-list: jeans pants shorts socks underwear swim;
  		$mens-shoes-nav-list: casual sneakers dress boots sandals;
  		$mens-accessories-nav-list: bags watches wallets belts ties hats glasses;
  	$womens-nav-list: clothing shoes accessories beauty;
  		$womens-clothing-nav-list: dresses tops bottoms outerwear underwear;
  			$womens-clothing-tops-nav-list: shirts sweaters sweatshirts t-shirts blazers;
  			$womens-clothing-bottoms-nav-list: jeans pants shorts rompers skirts swim;
		$womens-shoes-nav-list: sandals heels flats boots sneakers;
		$womens-accessories-nav-list: bags watches belts jewelery hair hats scarves glasses;
	$tech-nav-list: audio cameras accessories;
		$tech-audio-nav-list: turntables headphones speakers instruments;
		$tech-cameras-nav-list: digital analog accessories;
		$tech-other-nav-list: laptop phone other;
	$media-nav-list: books-music movies;
	$home-nav-list: kitchen bedding bath furniture decor;
		$home-kitchen-nav-list: cookware coffee-tea storage cutlery utensils appliances accessories;
		$home-decor-nav-list: rugs lighting accessories pillows clocks;
	$art-nav-list: 3d posters photography collage supplies;
	$other-nav-list: booze cycling toys games antiques pets camping tools;

  @each $option in $primary-nav-list {
	    .nav_#{$option} #content-pane {
	      margin-top: 100px;  
	    }
	}

  @each $option in $mens-nav-list {
	    .nav_mens.nav_#{$option} #content-pane {
	      margin-top: 150px;  
	    }
	}

  @each $option in $womens-nav-list {
	    .nav_womens.nav_#{$option} #content-pane {
	      margin-top: 150px;  
	    }
	}

  @each $option in $mens-clothing-nav-list {
	    .nav_mens.nav_clothing.nav_#{$option} #content-pane {
	      margin-top: 150px;  
	    }
	}

  @each $option in $tech-nav-list {
	    .nav_tech.nav_#{$option} #content-pane {
	      margin-top: 150px;  
	    }
	}

}
@include primary-nav;


/*3 Deep*/
  .nav_home.nav_decor #content-pane,
  .nav_home.nav_kitchen #content-pane {
    margin-top: 150px;
  }

/*4 Deep*/
  .nav_mens.nav_clothing.nav_bottoms #content-pane,
  .nav_mens.nav_clothing.nav_tops #content-pane,

  .nav_womens.nav_clothing.nav_bottoms #content-pane,
  .nav_womens.nav_clothing.nav_tops #content-pane,
  .nav-womens.nav_clothing.nav_outerwear #content-pane,
  .nav-womens.nav_clothing.nav_underwear #content-pane,
  .nav-womens.nav_clothing.nav_dresses #content-pane {
    margin-top: 200px;
  }

.product-view #content-pane {
  margin-top: 80px !important;
}
.product-view .top-nav {
  opacity: 0;
  pointer-events: none;
}

/*Begin unnecessarily complicated selector stack*/
@mixin span-backer {

  @each $option in $primary-nav-list {
	    .nav_#{$option} .nav_#{$option} > ul + span a {
		    background: rgba(255,255,255,0);
		    color: #fefefe !important;
	    }
	    .nav_#{$option} .nav_#{$option} > ul {
			display: table;
			position: absolute;
			pointer-events: auto !important;
			z-index: 3;
			top: 100%;
			left: 0;
			width: 100%;
			opacity: 1;
		}
	}	
}
@include span-backer;

  .nav_mens.nav_clothing.nav_tops .nav_mens .nav_clothing .nav_tops > ul,
  .nav_mens.nav_clothing.nav_bottoms .nav_mens .nav_clothing .nav_bottoms > ul,
  .nav_mens.nav_clothing.nav_tops .nav_mens .nav_clothing .nav_tops > ul,
  .nav_mens.nav_clothing .nav_mens .nav_clothing > ul,
  .nav_mens.nav_shoes .nav_mens .nav_shoes > ul,
  .nav_mens.nav_accessories .nav_mens .nav_accessories > ul,

  .nav_womens.nav_clothing.nav_tops .nav_womens .nav_clothing .nav_tops > ul,
  .nav_womens.nav_clothing.nav_bottoms .nav_womens .nav_clothing .nav_bottoms > ul,
  .nav_womens.nav_clothing.nav_tops .nav_womens .nav_clothing .nav_tops > ul,
  .nav_womens.nav_clothing .nav_womens .nav_clothing > ul,
  .nav_womens.nav_shoes .nav_womens .nav_shoes > ul,
  .nav_womens.nav_accessories .nav_womens .nav_accessories > ul {
  display: table;
  position: absolute;
  pointer-events: auto !important;
  z-index: 3;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 1;
  }

  .nav_tech.nav_audio .nav_tech .nav_audio > ul,
  .nav_tech.nav_cameras .nav_tech .nav_cameras  > ul,
  .nav_tech.nav_accessories .nav_tech .nav_accessories > ul {
    display: table;
    position: absolute;
    pointer-events: auto !important;
    z-index: 3;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 1;
  }
  .nav_home.nav_decor .nav_home .nav_decor > ul, 
  .nav_home.nav_furniture .nav_home .nav_furniture > ul,
  .nav_home.nav_bath .nav_home .nav_bath > ul, 
  .nav_home.nav_bedding .nav_home .nav_bedding > ul,
  .nav_home.nav_kitchen .nav_home .nav_kitchen > ul {
    display: table;
    position: absolute;
    pointer-events: auto !important;
    z-index: 3;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 1;
  }

  .nav_womens.nav_clothing.nav_tops .nav_womens .nav_clothing .nav_tops > ul + span a,
  .nav_womens.nav_clothing.nav_bottoms .nav_womens .nav_clothing .nav_bottoms  > ul + span a,
  .nav_womens.nav_clothing.nav_tops .nav_womens .nav_clothing .nav_tops > ul + span a,
  .nav_womens.nav_clothing .nav_womens .nav_clothing > ul + span a,
  .nav_womens.nav_shoes .nav_womens .nav_shoes > ul + span a,
  .nav_womens.nav_accessories .nav_womens .nav_accessories > ul + span a,

  .nav_mens.nav_clothing.nav_tops .nav_mens .nav_clothing .nav_tops > ul + span a,
  .nav_mens.nav_clothing.nav_bottoms .nav_mens .nav_clothing .nav_bottoms  > ul + span a,
  .nav_mens.nav_clothing.nav_tops .nav_mens .nav_clothing .nav_tops > ul + span a,
  .nav_mens.nav_clothing .nav_mens .nav_clothing > ul + span a,
  .nav_mens.nav_shoes .nav_mens .nav_shoes > ul + span a,
  .nav_mens.nav_accessories .nav_mens .nav_accessories > ul + span a,

  .nav_tech.nav_audio .nav_tech .nav_audio > ul + span a,
  .nav_tech.nav_cameras .nav_tech .nav_cameras  > ul + span a,
  .nav_tech.nav_accessories .nav_tech .nav_accessories > ul + span a,

  .nav_home.nav_decor .nav_home .nav_decor > ul + span a,
  .nav_home.nav_furniture .nav_home .nav_furniture > span a,
  .nav_home.nav_bath .nav_home .nav_bath > span a,
  .nav_home.nav_bedding .nav_home .nav_bedding > span a,
  .nav_home.nav_kitchen .nav_home .nav_kitchen > ul + span a,

  .nav_art.nav_supplies .nav_art .nav_supplies > span a,
  .nav_art.nav_collage .nav_art .nav_collage > span a,
  .nav_art.nav_photography .nav_art .nav_photography > span a,
  .nav_art.nav_3d .nav_art .nav_3d > span a,
  .nav_art.nav_posters .nav_art .nav_posters > span a {
    background: rgba(255,255,255,0);
    color: #fefefe !important;    
  }

/*Cul-de-sac categories*/

  .nav_media.nav_books-music .nav_media .nav_books-music > span a,
  .nav_media.nav_movies .nav_media .nav_movies > span a,

  .nav_other.nav_booze .nav_other .nav_booze > span a,
  .nav_other.nav_cycling .nav_other .nav_cycling > span a,
  .nav_other.nav_toys .nav_other .nav_toys > span a,
  .nav_other.nav_games .nav_other .nav_games > span a,
  .nav_other.nav_antiques .nav_other .nav_antiques > span a,
  .nav_other.nav_pets .nav_other .nav_pets > span a,
  .nav_other.nav_tools .nav_other .nav_tools > span a,
  .nav_other.nav_camping .nav_other .nav_camping > span a {
    background: rgba(255,255,255,0);
    color: #fefefe !important;    
  }


/*Main application*/
.application-name {
  position: fixed;
  opacity: 0.0;
  font-weight: bold;
  top: 5px;
  right: 5px;
  pointer-events: none;
  color: #fff;
}
.total-products {
  position: absolute;
  left: 20px;
  min-width: 200px;
  padding: 20px 15px;
  background-color: rgba(224,224,224,1);
	strong {
		font-size: 3em;
	}
}
.category-nav {
list-style: none;
display: table;
width: 100%;
margin-top: -80px;
	li { 
		display: table-cell;
		min-width: 80px;
		&:last-child { 
			border-right: 0; 
		}
		a {
			display: block;
			width: 100%;
			text-decoration: none;
			font-size: 26px;
			&:after {
				content: "";
				width: 0; 
				height: 0; 
				border-top: 28px solid transparent;
				border-bottom: 28px solid transparent;
				border-left: 28px solid white;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 9;
				pointer-events: none;
			}
			&:before {
				content: "";
				width: 0; 
				height: 0; 
				border-top: 28px solid transparent;
				border-bottom: 28px solid transparent;
				border-left: 28px solid black;
				position: absolute;
				right: -28px;
				top: 0;
				z-index: 10;
				pointer-events: none;
			}
		}
	}
}

.category-list {
	width: 100%;
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
	text-align: center;
	li {
		display: inline-block;
		margin: 0 0 15px !important;
		padding: 0 !important;
		height: 100%;
		width: 90%;
		overflow: hidden;
		position: relative;
		a {
			position: relative;
		}
		img {
			max-width: 100%;
			overflow: auto;
		}
	}
	.page-title {
		position: absolute;
		bottom: 4px;
		left: 0;
		z-index: 10;
		font-size: 16px;
		color: #000;
		line-height: 1.2;
		text-align: left;
		display: block;
		padding: 10px;
		background-color: rgba(224,224,224,0.6);
	}
}
#content-pane {
  margin-top: 80px;
  text-align: center;
}

//Avatar and users
.user-avatar {
  position: absolute !important;
  color: inherit;
  text-decoration: none;
  margin-left: 5px;
}
.user-name {
  font-weight: bold;
  color: black;
  line-height: 50px;
  position: absolute;
  margin-left: 5px;
  white-space: nowrap;
	img {
		width: 50px;
		-moz-border-radius:52px;
		-webkit-border-radius:52px;
		border-radius:52px;
		margin-left: 5px;
	}
}

/*Product details*/
.product-details {
  padding-top: 20px;
  position: relative;
  display: inline-block;
	h2 {
		font-size: 24px;
		width: 100%;
		margin: 10px auto 10px;
		position: absolute;
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: black;
	}
}

.product-details-content {
  position: absolute;
  top: 20px;
  left: 100%;
  margin-left: 5px;
  padding-top: 52px;
  padding-left: 60px;
  text-align: left;
	span {
		white-space: nowrap;
	}
	.user-avatar {
		left: 0;
		top: 0;
	}
}

/*Category navigation*/
.category-nav li a {
  display: block;
  width: auto;  
  position: relative;
}
.category-nav a {
  background-color: black;
  margin-bottom: 6px;
}
.category-nav li:last-child a {
  border-right: 0;
}
.category-nav a:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.login-category {
  display: none !important;
}
.login-category a:after {
  display: block;
  content: "";
  width: 100%;
  height: 67px;
  background: url('/app/images/white-padded.png') -11px 10px repeat-x;
  position: absolute;
  top: -11px;
  left: -11px;
}

.category-nav a {
  margin-bottom: 0 !important;
  line-height: 56px;
}
.category-nav a {
  color: #fff;
}
.category-nav:hover > span a {
  color: #b5b5b5 !important;
}

.category > ul,
.category > .category-name,
.category-name + span,
.category a,
.category-nav a,
#primary-navigation {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}